<mat-card class="data">
  <mat-card-title>
    Data Set {{ dataIndex }}:
  </mat-card-title>
  <mat-card-content>
    <pre>{{ data | json }}</pre>
  </mat-card-content>

  <mat-card-title>
    Results:
  </mat-card-title>
  <mat-card-content>
    <pre>{{ results | json }}</pre>
  </mat-card-content>
</mat-card>
